<wm-page name="googlemap" data-ng-controller="GooglemapsController">
    <wm-view name="googlemapview" class="container" backgroundcolor="#fff">
        <google-map center="map.center" zoom="map.zoom" draggable="true" control="map.control">
            <marker data-ng-repeat="marker in map.markers" coords="marker.latlng" icon="marker.icon" click="onMarkerClicked(marker)">
                <window ng-cloak coords="marker.coords">
                    <p>{{marker.info}}</p>
                </window>
            </marker>
        </google-map>
    </wm-view>
</wm-page>